/* .navbutton{
    width: 142px;
    height: 42px;
    color: #E0E0D4;
    border-radius:10px;
    color: black;
  }
  .navtext{
    font-size: 16px;
  }
  nav{ 
    position: fixed;
    top: 0;
    width: 100%;
  }
  
   */
  
  