.titlefliter {
  margin: "0";
  font-size: 14pt;
}
.pieText {
  font-size: 20px;
}
.catsize {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 9%;
}
.catsize2 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);

  margin-top: 5%;
}
.catsize1 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 5%;
}
.categorytext {
  display: block;
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 10%;
}

.cDropdown {
  /*下拉式選單*/
  border-width: 2px;
  color: black;
  text-align: center;
  border-radius: 7px;
  border-color: #607d8b;
  background-color: #b9b9b9;
  border-width: 2px;
  font-weight: bold;
  height: 25pt;
  width: 135pt;
  outline: none;
}
.cfilter {
  /* position:fixed;
    z-index: 999; */
  width: 100%;
  height: 57px;
  background-color: #f7f7eb;
}
.bDropdown {
  /*下拉式選單*/
  border-width: 2px;
  color: black;
  text-align: center;
  border-radius: 7px;
  border-color: #607d8b;
  background-color: #b9b9b9;
  border-width: 2px;
  font-weight: bold;
  height: 35pt;
  width: 100%;
  outline: none;
}

.Comparenav {
  position: fixed;
  z-index: 9999;
  font-size: 20px;
  text-align: right;
}
.Comparecon {
  background-color: #607d8b;
  color: white;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 5px 5px #888888;
}

.Comtitle2 {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0.004em;
  padding-bottom: 10px;
  color: #1d1d1f;
}

.Comtitle {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0.004em;
  margin-bottom: 13px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgb(167, 167, 167);
  color: #1d1d1f;
}
@media screen and (max-width: 575px) {
  .cfilter {
    margin-top: 20%;
  }
  .bDropdown {
    height: 28pt;
  }
  .Comtitle {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0.004em;
    margin-bottom: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
    color: #1d1d1f;
  }
  .Comparecon {
    height: 30px;
  }
}
