.titlefliter {
    margin: "0";
    font-size: 14pt;
    
}
.cDropdown {
    /*下拉式選單*/
    border-width: 2px;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    border-color: #EB6200;
    background-color: #EB6200;
    border-width: 2px;
    font-weight: bold;
    height: 25pt;
    width: 135pt;
    outline: none
}
.cfilter{
    position:fixed;
    z-index: 9999;
    margin-top: 1.5%;
}
.bDropdown {
    /*下拉式選單*/
    border-width: 2px;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    border-color: #000000;
    background-color: #000000;
    border-width: 2px;
    font-weight: bold;
    height: 25pt;
    width: 135pt;
    outline: none
}

.Comparenav{
    position: fixed; 
    z-index:9999; 
    font-size: 20px;
    text-align: right;
}
.Comparecon{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    text-align: center;
    border-top-left-radius:8px;
    border-bottom-left-radius :8px;
    
}
@media screen and (max-width: 575px) {
    .cfilter {
        margin-top: 20%;
        
    }
}