.titlefliter {
    margin: "0";
    font-size: 14pt;
    
}
.cDropdown {
    /*下拉式選單*/
    border-width: 2px;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    border-color: #EB6200;
    background-color: #EB6200;
    border-width: 2px;
    font-weight: bold;
    height: 25pt;
    width: 135pt;
    outline: none
}
.cfilter{
    position: sticky;
    top: -1px;
    z-index: 10;
    /* position:fixed;
    z-index: 999; */
    width: 100%;
    height: 57px;
    background-color: #F7F7EB;
}
.bDropdown {
    /*下拉式選單*/
    border-width: 2px;
    color: black;
    text-align: center;
    border-radius: 7px;
    border-color: #acacac;
    background-color: #F7F7EB;
    border-width: 2px;
    font-weight: bold;
    height: 35pt;
    width: 100%;
    outline: none
}

.Comparenav{
    position: fixed; 
    z-index:9999; 
    font-size: 20px;
    text-align: right;
}
.Comparecon{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    text-align: center;
    border-top-left-radius:8px;
    border-bottom-left-radius :8px;
    
}

.Comtitle {
    font-size: 28px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .004em;
    margin-bottom: 13px;
    padding-bottom: 22px;
    border-bottom: 1px solid #a7a7a7;
    color: #1d1d1f;
    padding-top: 2%;
}
@media screen and (max-width: 575px) {
    .cfilter {
        margin-top: 20%;
        
    }
}