.titlefliter {
    margin: "0";
    font-size: 14pt;
}

.Dropdown {
    /*下拉式選單*/
    border-width: 2px;
    color: #707070;
    border-radius: 7px;
    height: 25pt;
    width: 135pt;
    outline: none;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .filter {
        margin-top: 20%;
    }
}