.meeting{
    border-style: 5px solid;
    color: rgb(228, 213, 213);
    background-color:#222D43;
    border-radius :5px;
}
.Audit{ /*按鈕樣式*/
    border: 0;
    height: 28pt;
    width: 30pt;
    border-top-left-radius:10px;
    border-bottom-left-radius :10px;
    font-weight:bold;
    color: #ffffff;
    background-color: #797c83;  
}
.Audit2{/*按鈕樣式*/
    border: 0;
    height: 28pt;
    width: 30pt;
    color: #ffffff;
    font-weight:bold;
    border-top-right-radius:10px;
    border-bottom-right-radius :10px;
    background-color: #623B4D;
}
.title{
    color: #dcae1d;
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 0;
}
.date{
    color: #7a9d96;
    font-weight:bold;
    font-size: 12pt;
}
.host{
    color: #caE4DB;
    font-weight:bold;
    font-size: 14pt;
}
.audittext{
    font-size: 14px;
}
@media  screen and (max-width: 575px){
    .meeting>.title{
        font-size: 20pt;
    }
    .meeting>.date{
        font-size: 14pt;
    }
    .meeting>.host{
        font-size: 12pt;
    }
}
/* @media  screen and (min-width: 575px){
    .meeting>.title{
        font-size: 18pt;
        font-weight:bold;
    }
    .meeting>.date,.meeting>.host{
        font-size: 14pt;
    }
} */
