.meeting{
    background-color:#d8936c;
    border-radius :5px;
}
.Audit{ /*按鈕樣式*/
    border: 0;
    height: 28pt;
    width: 30pt;
    border-top-left-radius:10px;
    border-bottom-left-radius :10px;
    font-weight:bold;
    color: #ffffff;
    background-color: #797c83;  
}
.Audit2{/*按鈕樣式*/
    border: 0;
    height: 28pt;
    width: 30pt;
    color: #ffffff;
    font-weight:bold;
    border-top-right-radius:10px;
    border-bottom-right-radius :10px;
    background-color: #c0865f;
}
.title{
    color: #583f00;
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 0;
    
}
.date{
    color: #757575;
    font-weight:bold;
    font-size: 12pt;
}
.d{
    margin-top: 1%;
}
.host{
    color: #9f410a;
    font-weight:bold;
    font-size: 14pt;
}
.audittext{
    font-size: 14px;
}
@media  screen and (max-width: 575px){
    .meeting>.title{
        font-size: 20pt;
    }
    .meeting>.date{
        font-size: 14pt;
    }
    .meeting>.host{
        font-size: 12pt;
    }
}
/* @media  screen and (min-width: 575px){
    .meeting>.title{
        font-size: 18pt;
        font-weight:bold;
    }
    .meeting>.date,.meeting>.host{
        font-size: 14pt;
    }
} */
