.meetingcontent{
    background-color:#294753;
    border-radius:10px;
    
}
.textcontent{
    background-color:#294753;
    border-radius:10px;
    height: 46vh;
    color: aliceblue;
    
}
.recordcontent{
    background-color:white;
    border: solid;
    height: 100vh;
    border-top-left-radius: 8pt;
    border-bottom-left-radius: 8pt;
}
.text{
    font-size: 20pt;
    color: aliceblue;
    font-weight: bold;
}
.contenttext{
    font-size: 20pt;
}
.recondertitle{
    color: rgb(212, 176, 121);
    font-weight: bold;
    font-size: 24pt;
}
.reconderdate{
    color: cornflowerblue;
    font-weight:bold;
    font-size: 18pt;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  @media screen and(min-width: 575px){
      .content>.text{
          font-size: 30pt;
      }
      .content>.contenttext{
        font-size: 30pt;
      }
}  
@media  screen and (max-width: 575px){
    .recordcontent{
      border-top-left-radius: 0pt;
      border-bottom-left-radius: 0pt;
    }
}
