.meetingcontent{
    background-color:#f6d96d;
    border-radius:10px;
}
.textcontent{
    background-color:#e49262;
    border-radius:10px;
    height: 46vh;
    color: aliceblue;
    
}

.text{
    font-size: 18pt;
    color: aliceblue;
    /* font-weight: bold; */
}
.contenttext{
    font-size: 20pt;
}
.recondertitle{
    color: #01597f;
    font-weight: bold;
    font-size: 22pt;
}
.attend{
    color: #01597f;
    font-weight:bold;
    font-size: 16pt;
}
.attend_2{
    color: #871b24;
    font-weight:bold;
    font-size: 16pt;
}
.absentt{
    color: #000a30;
    font-weight:bold;
    font-size: 16pt;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  @media screen and(min-width: 575px){
      .content>.text{
          font-size: 30pt;
      }
      .content>.contenttext{
        font-size: 30pt;
      }
}  
@media  screen and (max-width: 575px){
    .recordcontent{
      border-top-left-radius: 0pt;
      border-bottom-left-radius: 0pt;
    }
    .content>.text{
        font-size: 12px;
    }
}
