.meetingcontent{
    background-color:#d8936c;
    border-radius:10px;
}
.textcontent{
    background-color:#d8936c;
    border-radius:10px;
    height: 46vh;
    color: aliceblue;
    
}
.recordcontent{
    background-color:white;
    border: solid;
    height: 100vh;
    border-top-left-radius: 8pt;
    border-bottom-left-radius: 8pt;
}
.text{
    font-size: 18pt;
    color: aliceblue;
    font-weight: bold;
}
.contenttext{
    font-size: 20pt;
}
.recondertitle{
    color: #01597f;
    font-weight: bold;
    font-size: 22pt;
}
.attend{
    color: #01597f;
    font-weight:bold;
    font-size: 16pt;
}
.absentt{
    color: #e9e9e9;
    font-weight:bold;
    font-size: 16pt;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  @media screen and(min-width: 575px){
      .content>.text{
          font-size: 30pt;
      }
      .content>.contenttext{
        font-size: 30pt;
      }
}  
@media  screen and (max-width: 575px){
    .recordcontent{
      border-top-left-radius: 0pt;
      border-bottom-left-radius: 0pt;
    }
    .content>.text{
        font-size: 12px;
    }
}
