/* table,
td {
  border: 1px solid #333;
  width: 600px;
  height: 40px;
}

table .title {
  background-color: #e2efda;
  height: 60px;
}
.title > td {
  font-size: 25px;
  text-align: center;}


.green{
    background-color: #e2efda;
} */