.login {
  background-color: white;
  height: 80%;
  padding: 5% 0% 10% 0%;
  margin: 10% 35% 25% 35%;
}
.loginfont{
  font-weight: bold;
}
.BTN {
  font-size: 1rem;
  background-color: #1473E6;
  border: none;
  color: white;
}

input {
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  padding: 0 10px 0 10px;
  margin: 10px 0 20px 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0%;
}