.phone{
    height: auto;
}
aside{
    padding: 10px 0 10px 0;
    text-decoration: none;
    background-color: black;
    border-radius:8px;
    text-align: center;
    width: 75pt;
    height: 230pt;
    color: white;
    margin: 20px;
    margin-top: 140%
}
.custom-switch{
  padding-left: 0 !important;
}


@media (max-width: 599px) {
    aside{
        display: none;
    }
}

@media (min-width: 599.99px) and (max-width: 767.98px) {
  .phone {
    display: none;
  }
  aside{
    width:80px;
    margin-left: 10px;
    

  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .phone {
    display: none;
  }
  aside{
    width:80px;
    margin-left: 10px;

  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .phone {
    display: none;
  }
  aside{
    width:100px;
    margin-left: 10px;

  }
}

@media (min-width: 1200px) {
  .phone {
    display: none;
  }
  
}
