.phone {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  margin-left: 0;
}

aside {
  padding: 10px 0 10px 0;
  text-decoration: none;
  background-color: #ae714f;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  width: 75pt;
  color: white;
  margin: 20px;
  margin-top: 10%;
}

.custom-switch {
  padding-left: 0 !important;
}

@media (max-width: 599px) {
  aside {
    display: none;
  }
  .topbar {
    display: none !important;
  }
}

@media (min-width: 599.99px) and (max-width: 767.98px) {
  .phone {
    display: none;
  }
  aside {
    width: 80px;
    margin-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .phone {
    display: none;
  }
  aside {
    width: 80px;
    margin-left: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .phone {
    display: none;
  }
  aside {
    width: 100px;
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .phone {
    display: none;
  }
}