.ncard{
    background-color: #d8936c;
    position: fixed;
    z-index: 99999;
    border-radius: 8px;
    text-align: center;
    height: 50%;
    
}
.ncardline{
    border-bottom: 2px solid #ecf0f1;
    width: 295px;
    color: #01597f;
}
.nfont{
    font-weight: bold;
}
