.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgb(185, 185, 185) !important;
  color: black !important;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

aside a {
  color: white !important;
}

.nav-fill .nav-item, .nav-fill>.nav-link {
  flex: 1 1 auto;
  text-align: center;
}
.radio{
  width: 20px;
  height: 20px;
}
.Col{
  padding: 0 0 0 0 !important;
}
li{
  font-size: 20px;
}