.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(185, 185, 185) !important;
    color:black !important;
  }
  a:link {
    color:black;
  
    text-decoration:none;
    }
    a:visited {
      color:black;
  
    text-decoration:none;
    }
    a:hover {
      color:black;
  
    text-decoration:none;
    }
    a:active {
    color:black;
    text-decoration:none;
    }
   
    aside  a{
      color:white !important;
    }