.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgb(185, 185, 185) !important;
  color: black !important;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

aside a {
  color: white !important;
}

.nav-fill .nav-item, .nav-fill>.nav-link {
  flex: 1 1 auto;
  text-align: center;
}

.radio {
  width: 20px;
  height: 20px;
}

.Col {
  padding: 0 0 0 0 !important;
}

li {
  font-size: 20px;
}

.recordcontent {
  background-color: #F7F7EB;
  height: 100vh;
}

.meeting>.title {
  font-size: 16pt;
}

.title {
  color: #583f00;
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 0;
}

.date {
  color: #757575;
  font-weight: bold;
  font-size: 12pt;
}

.meeting {
  border-radius: 5px;
}

.Dropdown {
  /*下拉式選單*/
  border-width: 2px;
  border: 2px solid #000000;
  color: #000000;
  border-radius: 9px;
  height: 32px;
  width: 135pt;
  outline: none;
  font-size: 16px;
  text-align: center;
}
.dropdownfont{
  margin-top: 8px;
  font-size: 18px;
  margin-left: 2%;
}
@media screen and (max-width: 575px) {
  .Dropdown {
    font-size: 14px;
  }
.dropdownfont{
  margin-top: 25px;
  font-size: 16px;
}
.content{
  margin-top: 22%;
}
}