.area{
    background-color:#222D43;
    height: 560px;
    width: 800px;
    color: rgb(212, 176, 121);
}
.fontarea{
    background-color:rgb(228, 196, 127);
    border-radius:8px;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    
    color: rgb(17, 17, 17);
}
.username{
    font-weight: bold;
    color: #dcae1d;
}
.timefont{
    color: rgb(172, 172, 172);
    font-size: 12px;
}